{% extends 'blog/base.html' %}
{% block content %}

<header class="masthead m-0" style="background-color:lightblue">
    <div class="overlay"></div>
    <div class="container">
      <div class="">
        <div class="">
          <div class="page-heading">
            <h1>About Me</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
<br>
<div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto p-2">
        <p>Just trying to get into a habbit of writing whilst understanding the basics concepts of technology</p>
      </div>
    </div>
</div>

{% endblock %}