@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Pro|Michroma&display=swap');

.navbar-brand{
  font-size: 1.5em;
  font-family: 'Montserrat Subrayada', sans-serif;
  letter-spacing: 1px;
}


.card-title{
  font-family: 'Michroma', sans-serif;
  font-size:32px;
  margin-bottom: 0px;
  color: black;
}

.far {
  color: black;
}

.row{
  margin: 15px;
}

.posttitle{
  font-family: 'Michroma', sans-serif;
  font-size:32px;
}

.postcontent{
  font-family: 'Crimson Pro', serif;
  font-size:32px;
}

.btn{
  font-family: 'Crimson Pro', serif;
}

.comment{
  margin: 2px;
  margin-bottom: 0;
}

.comment-text{
  font-family: 'Crimson Pro', serif;
  font-size:16px;
  margin-bottom: 0;
  border-bottom: 1px solid lightgray;
}

.comment-author{
  font-family: 'Crimson Pro', serif;
  font-size:20px;
  margin-bottom: 0;
}

.text-muted{
  margin-bottom: 0;
}




.card-footer {
  font-family: 'Crimson Pro', serif;
  font-size: 16px;
}


